<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-united.min.css') }}"/>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <style type="text/css">
    	body {
		  padding-top: 50px;
		}
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui-1.11.1.custom/jquery-ui.css') }}">
    
    <script src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-ui-1.11.1.custom/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    {% endblock %}
</head>
<body role="document">
	{% set navigation_bar = [
    	('/', 'home', 'Home'),
    	('/wms', 'wms', 'WMS'),
    	('/hello', 'hello', 'hello')
	] -%}
	{% set active_page = active_page|default('home') -%}
    <div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	     <div class="container">
	       <a data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar">
	         <span class="icon-bar"></span>
	         <span class="icon-bar"></span>
	         <span class="icon-bar"></span>
	       </a>
	       <a href="#home" class="brand">NetCDF - DataViewer</a>
	       <div class="nav-collapse">
	         <ul class="nav">
	           {% for href, id, caption in navigation_bar %}
			   <li id="{{ id|e }}"{% if id == active_page %} class="active"{% endif %}>
			  	 <a href="{{ href|e }}">{{ caption|e }}</a>
			   </li>
			   {% endfor %}
	         </ul>
	       </div>
	     </div>
	  </div>
	</div>
    <div id="content" class="container" role="main">{% block content %}{% endblock %}</div>
    <!-- <div id="footer" class="container" role="footer">
    {% block footer %}&copy; abcd some sample footer <a href="http://www.ipf.tuwien.ac.at/">IPF TU Wien</a>{% endblock %}
    </div>-->
</body>