{% from "_formhelper.html" import render_field %}
{% extends "base.html" %}
{% block title %}NetCDF - DataViewer{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
	<div class="alert alert-info" role="alert">
    <strong>Info!</strong>
    	NetCDF - Daten (Variablen) werden ausgelesen und Select-Control befüllt.
	</div>
	<div class="page-header">
	    <h1>
	        NetCDF - Data
	    </h1>
    </div>
    <div class="well">
    {% if netcdfData %}
		{% for item in netcdfData -%}
	    	<h1>{{ item.dataset_name }}</h1>
	    	<br />
	    	{% for variable in item.variables -%} 	
	    		<p>{{ variable  }} </p>
	    	{%- endfor %}
		{%- endfor %}
		<form method="POST" action="/" name="NetCdfForm" role="form">
	    	{{ render_field(form.variables) }}
		</form>
		asdf
	{% else %}
	  <h1>Hello World!</h1>
	{% endif %}
	</div>
{% endblock %}