{% from "_formhelper.html" import render_field %}
{% extends "base.html" %}
{% block title %}NetCDF - DataViewer - WMS{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='OpenLayers/theme/default/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ol-style.css') }}" />
	<script src="{{ url_for('static', filename='OpenLayers/OpenLayers.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap-slider.js') }}"></script>
	<script src="{{ url_for('static', filename='js/dygraph-combined.js') }}"></script>
	<script src="{{ url_for('static', filename='js/IPFMap.class.js') }}"></script>
	<script src="{{ url_for('static', filename='js/IPFDataViewer.class.js') }}"></script>
	<script src="{{ url_for('static', filename='js/dataviewer-main.js') }}"></script>
	<script src="{{ url_for('static', filename='js/dataviewer-user.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.splitter-0.14.0.js') }}"></script>
    <link href="{{ url_for('static', filename='css/jquery.splitter.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/slider.css') }}" rel="stylesheet"/>
{% endblock %}
{% set active_page = "wms" %}
{% set init_cmap = "jet" %}
{% set cmap_choices = ["cpa_SWI_ASCAT_Dataviewer","Accent","Blues","BrBG","BuGn","BuPu","Dark2","GnBu","Greens","Greys","OrRd","Oranges","PRGn","Paired","Pastel1","Pastel2","PiYG","PuBu","PuBuGn","PuOr","PuRd","Purples","RdBu","RdGy","RdPu","RdYlBu","RdYlGn","Reds","Set1","Set2","Set3","Spectral","YlGn","YlGnBu","YlOrBr","YlOrRd","afmhot","autumn","binary","bone","brg","bwr","cool","copper","flag","gist_earth","gist_gray","gist_heat","gist_ncar","gist_rainbow","gist_yarg","gnuplot","gnuplot2","gray","hot","hsv","jet","ocean","pink","prism","rainbow","seismic","spectral","spring","summer","terrain","winter"] %}
{% block content %}
	<div id="map-controls">
    <ul class="nav nav-tabs" id="mapTab" data-tabs="mapTab">
		<li class="active"><a href="#tab-mapA" data-toggle="tab">Map A</a></li>
		<li><a href="#tab-mapB" data-toggle="tab">Map B</a></li>
		<li><a href="#tab-mapOptions" data-toggle="tab">Map Options</a></li>
	</ul>
    <div class="tab-content" id="tab-content">
	  	<div class="tab-pane active" id="tab-mapA">
	  		<div class="well form-group">
	  			<div class="col-sm-6">
		  			<div class="row">
					</div>
			    	<div class="row">
						<div class="control-label col-sm-3" style="font-weight:bold;">WMS</div>
					    <div class="controls col-sm-8">
							<select class='form-control' id="wmsSelectA" name="wmsSelectA" onchange="wmsChanged('A');">
							</select>
						</div>
					</div>
					<div class="row">
					    <div class="control-label col-sm-3" style="font-weight:bold;">NetCDF Variables</div>
					    <div class="controls col-sm-8">
					        <select class='form-control' id="ncvarSelectA" name="ncvarSelectA" onchange="ncvarChanged('A');">
					        </select>
					    </div>
				    </div>
					<div class="row">
					    <div class="control-label col-sm-3" style="font-weight:bold;">Time Positions</div>
					    <div class="controls col-sm-8">
					        <select class='form-control' id="timeSelectA" name="timeSelectA" onchange="timeChanged('A');">
					        </select>
					    </div>
				    </div>
			    </div>
			    <div class="col-sm-6">
		  			<div class="row">
					</div>
			    	<div class="row">
						<div class="control-label col-sm-3" style="font-weight:bold;">Opacity</div>
					    <div class="controls col-sm-4">
							<input id="slider-A" type="text" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="80"/>
						</div>
					</div>
					<div class="row">
					    <div class="control-label col-sm-3" style="font-weight:bold;">Colormap</div>
					    <div class="controls col-sm-6 col-md-5 col-lg-4">
							<select class='form-control' id="cmapSelectA" name="cmapSelectA" onchange="cmapChanged('A');">
								{% for choice in cmap_choices -%} 	
						    	<option value="{{ choice }}" {% if choice == init_cmap %}SELECTED{% endif %}>{{ choice }}</option>
						    	{%- endfor %}
					        </select>
						</div>
				    </div>
					<div class="row">
					    <div class="control-label col-sm-3" style="font-weight:bold;">Colorbar</div>
						<div class="controls col-sm-6">
							<img id="imgColorbarA" alt=" " src="" class="colorbar"/>
						</div>
				    </div>
			    </div>
			</div>
	  	</div>
	  	<div class="tab-pane" id="tab-mapB">
			<div class="well form-group">
				<div class="col-sm-6">
					<div class="row">
						<div class="control-label col-sm-3" style="font-weight:bold;">Show Map</div>
						<div class="controls col-sm-8">
							<div class="btn-group">
							  <button type="button" id="btn_disableMapB" class="btn btn-default active" onclick="disableMap('B')">Disabled</button>
							  <button type="button" id="btn_overlayMapB" class="btn btn-default" onclick="addMapAsOverlay('B')">Overlay</button>
							  <button type="button" id="btn_separateMapB" class="btn btn-default" onclick="addMapSeparate('B')">Split Screen</button>
							</div>
						</div>
					</div>
			    	<div class="row">
						<div class="control-label col-sm-3" style="font-weight:bold;">WMS</div>
					    <div class="controls col-sm-8">
							<select class='form-control' id="wmsSelectB" name="wmsSelectB" onchange="wmsChanged('B');">
							</select>
						</div>
					</div>
					<div class="row">
					    <div class="control-label col-sm-3" style="font-weight:bold;">NetCDF Variables</div>
					    <div class="controls col-sm-8">
					        <select class='form-control' id="ncvarSelectB" name="ncvarSelectB" onchange="ncvarChanged('B');">
					        </select>
					    </div>
				    </div>
					<div class="row">
					    <div class="control-label col-sm-3" style="font-weight:bold;">Time Positions</div>
					    <div class="controls col-sm-8">
					        <select class='form-control' id="timeSelectB" name="timeSelectB" onchange="timeChanged('B');">
					        </select>
					    </div>
				    </div>
			    </div>
			    <div class="col-sm-6">
		  			<div class="row">
					</div>
			    	<div class="row">
						<div class="control-label col-sm-3" style="font-weight:bold;">Opacity</div>
					    <div class="controls col-sm-4">
							<input id="slider-B" type="text" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="80"/>
						</div>
					</div>
					<div class="row">
					    <div class="control-label col-sm-3" style="font-weight:bold;">Colormap</div>
					    <div class="controls col-sm-6 col-md-5 col-lg-4">
							<select class='form-control' id="cmapSelectB" name="cmapSelectB" onchange="cmapChanged('B');">
								{% for choice in cmap_choices -%} 	
						    	<option value="{{ choice }}" {% if choice == init_cmap %}SELECTED{% endif %}>{{ choice }}</option>
						    	{%- endfor %}
					        </select>
						</div>
				    </div>
					<div class="row">
					    <div class="control-label col-sm-3" style="font-weight:bold;">Colorbar</div>
						<div class="controls col-sm-6">
							<img id="imgColorbarB" alt=" " src="" class="colorbar"/>
						</div>
				    </div>
			    </div>
			</div>
		</div>
		<div class="tab-pane" id="tab-mapOptions">
			<div class="well form-group">
		    	<div class="row">
				</div>
				<div class="row">
					<div class="control-label col-sm-2" style="font-weight:bold;">Link Maps</div>
					<div class="controls col-lg-6 col-md-7 col-sm-8">
						<label class="checkbox-inline">
							<input type="checkbox" id="cb_linkAB" value="linkAB" onclick="toggleMapLink('A','B')">Map A <i class="glyphicon glyphicon-link"></i> Map B
						</label>
					</div>
				</div>
				<div class="row">
					<div class="control-label col-sm-2" style="font-weight:bold;">Get Timeseries</div>
					<div class="controls col-lg-6 col-md-7 col-sm-8">
						<label class="checkbox-inline">
							<input type="checkbox" id="cb_getTS" value="getTS" onclick="toggleGetTS()">activate <i class="glyphicon glyphicon-screenshot"></i>
						</label>
					</div>
				</div>
				<div class="row">
			    </div>
			</div>
		</div>
	</div>
	</div>
    
	<div class="well">
		<div id="splitcontainer" class="splitcontainer">
			<div>
				<div style="position:relative;">
				<div id="mapA" class="map"></div>
				<div id="TimeSeriesContainerDiv_mapA" class="timeSeriesContainer">
					<div class="close_Button" id="TSClose_mapA">
						<a onclick="closeDygraph('A')" href="#">X</a>
					</div>
					<div style="width: 90%; height: 180px;" id="TimeSeriesDiv_mapA">
					</div>
				</div>
				</div>
			</div>
			<div >
				<div style="position:relative;">
				<div id="mapB" class="map"></div>
				<div id="TimeSeriesContainerDiv_mapB" class="timeSeriesContainer">
					<div class="close_Button" id="TSClose_mapB">
						<a onclick="closeDygraph('B')" href="#">X</a>
					</div>
					<div style="width: 90%; height: 180px;" id="TimeSeriesDiv_mapB">
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}