{% from "_formhelper.html" import render_field %}
{% extends "base.html" %}
{% block title %}NetCDF - DataViewer - WMS{% endblock %}
{% block head %}
    {{ super() }}

	<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />-->
	<!--<script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>-->
	<script src="{{ url_for('static', filename='OpenLayers/OpenLayers.js') }}"></script>
<!-- 	<script src="{{ url_for('static', filename='js/bootstrap-slider.js') }}"></script> -->

	<script src="{{ url_for('static', filename='js/dygraph-combined.js') }}"></script>
	<script src="{{ url_for('static', filename='js/IPFMap.class.js') }}"></script>
	<script src="{{ url_for('static', filename='js/IPFDataViewer.class.js') }}"></script>
	<script src="{{ url_for('static', filename='js/IPFDyGraph.class.js') }}"></script>
	<script src="{{ url_for('static', filename='js/dataviewer-main.js') }}"></script>
	<script src="{{ url_for('static', filename='js/dataviewer-user.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.splitter-0.14.0.js') }}"></script>

	<!--<script src="{{ url_for('static', filename='js/datepicker.js') }}"></script>-->
	<!--<script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>-->
	<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/daterangepicker.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/daterangepicker.css') }}" />

    <link href="{{ url_for('static', filename='css/jquery.splitter.css') }}" rel="stylesheet"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='OpenLayers/theme/default/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ol-style.css') }}" />
    <!-- <link href="{{ url_for('static', filename='css/slider.css') }}" rel="stylesheet"/>-->
{% endblock %}
{% set active_page = "wms" %}
{% set init_cmap = "rainbow" %}
{% set cmap_choices = ["rainbow","redblue","alg","greyscale","ncview","alg2","occam","rainbow","sst_36","ferret","occam_pastel-30"] %}
{% block content %}
	<script type="text/javascript">
		var overlay_LOADING = "<img id=\"loading\" src=\"{{ url_for('static', filename='img/loading.gif') }}\" style=\"bottom: 0;left: 0;margin: auto;position: absolute;right: 0;top: 0;\" />";
		
		var overlay_ERROR = '<div style="text-align: center; vertical-align: middle; position: relative; top: 40%;">' +
			'<i class="glyphicon glyphicon-warning-sign"></i>' + 
			'&nbsp; Error while requesting time series data.</div>';
	</script>
    
	<div class="well">
		<div id="splitcontainer" class="splitcontainer">
			<div>
				<div style="position:relative;">
				<div id="mapA" class="map"></div>
				<div id="mapLabelContainer_mapA" class="mapOverlayDiv mapLabel">
					<div id="mapLabel_mapA_mapA"></div>
					<div id="mapLabel_mapA_mapB"></div>
				</div>
				<div id="mapSettingsContainerDiv_mapA" class="mapSettingsContainer col-sm-4">
					<div id="map-controls" style="background: #d4d4d4; height: 100%; width: 100%;">
					    <ul class="nav nav-tabs" id="mapTab" data-tabs="mapTab">
							<li class="active"><a href="#tab-mapA" data-toggle="tab">Map A</a></li>
							<li><a href="#tab-mapB" data-toggle="tab">Map B</a></li>
						</ul>
					    <div class="tab-content" id="tab-content">
						  	<div class="tab-pane active" id="tab-mapA">
								<div id="mapCtrlGroup_mapA" class="mapCtrlGroup form-group form-group-sm">
						  			<div class="col">
						  				<div class="row">
										</div>
						  				<div class="row">
						  				</div>
								    	<div class="row">
											<div class="control-label col-sm-3" style="font-weight:bold;">WMS</div>
										    <div class="controls col-sm-8">
												<select class='form-control-sm' id="wmsSelectA" name="wmsSelectA" onchange="wmsChanged('A');">
												</select>
											</div>
										</div>
										<div class="row">
										    <div class="control-label col-sm-3" style="font-weight:bold;">NetCDF Variables</div>
										    <div class="controls col-sm-8">
										        <select class='form-control-sm' id="ncvarSelectA" name="ncvarSelectA" onchange="ncvarChanged('A');">
										        </select>
										    </div>
									    </div>
										<div class="row">
										    <div class="control-label col-sm-3" style="font-weight:bold;">Time Positions</div>
										    <div class="controls col-sm-8">
										        <select class='form-control-sm' id="timeSelectA" name="timeSelectA" onchange="timeChanged('A');">
										        </select>
										    </div>
									    </div>
								    	<div class="row">
											<div class="control-label col-sm-3" style="font-weight:bold;">Opacity</div>
										    <div class="controls col-xs-6 col-sm-6">
										    	<div class="form-control-sm" id="opacityslider-A"></div>
											</div>
										</div>
										<div class="row">
										    <div class="control-label col-sm-3" style="font-weight:bold;">Colormap</div>
										    <div class="controls col-sm-8">
												<select class='form-control-sm' id="cmapSelectA" name="cmapSelectA" onchange="cmapChanged('A');">
													{% for choice in cmap_choices -%} 	
											    	<option value="{{ choice }}" {% if choice == init_cmap %}SELECTED{% endif %}>{{ choice }}</option>
											    	{%- endfor %}
										        </select>
											</div>
									    </div>
										<div class="row">
										    <div class="control-label col-sm-3" style="font-weight:bold;">Colorbar</div>
										    <div class="controls col-sm-8">
												<img id="imgColorbarA" alt=" " src="" class="colorbar"/>
										    </div>
									    </div>
										<div class="row">
										    <div class="control-label col-sm-3" style="font-weight:bold;"></div>
										    <div class="controls col-sm-8">
										    	<input id="tbMin_mapA" type="text" class="tbColorbarRange form-control-sm" onchange="cmapScaleChanged('A')"></input>
												<button id="lockA" class="lockButton form-control-sm" onclick="scaleLock('A')" value="lock">lock</span></button>
												<input id="tbMax_mapA" type="text" class="tbColorbarRange form-control-sm" onchange="cmapScaleChanged('A')"></input>
										    </div>
									    </div>
									    <div class="row">
										</div>
							  			<div class="row">
							  			</div>
								    </div>
								</div>
							</div>
							<div class="tab-pane" id="tab-mapB">
								<div id="mapCtrlGroup_mapB" class="mapCtrlGroup form-group form-group-sm">
									<div class="col">
										<div class="row">
											<div class="control-label col-sm-12" style="font-weight:bold;">Show Map B</div>
										</div>
										<div class="row">
											<div class="controls col-sm-12" style="padding-right: 0px;">
												<div class="btn-group btn-group-sm">
												  <button type="button" id="btn_disableMapB" class="btn btn-default active" onclick="disableMap('B')">Disabled</button>
												  <button type="button" id="btn_overlayTopMapB" class="btn btn-default" onclick="addMapAsOverlay('B',true)">Overlay (Top)</button>
												  <button type="button" id="btn_overlayBottomMapB" class="btn btn-default" onclick="addMapAsOverlay('B',false)">Overlay (Bottom)</button>
												  <button type="button" id="btn_separateMapB" class="btn btn-default" onclick="addMapSeparate('B')">Split Screen</button>
												</div>
											</div>
										</div>
								    	<div class="row">
											<div class="control-label col-sm-3" style="font-weight:bold;">WMS</div>
										    <div class="controls col-sm-8">
												<select class='form-control-sm' id="wmsSelectB" name="wmsSelectB" onchange="wmsChanged('B');">
												</select>
											</div>
										</div>
										<div class="row">
										    <div class="control-label col-sm-3" style="font-weight:bold;">NetCDF Variables</div>
										    <div class="controls col-sm-8">
										        <select class='form-control-sm' id="ncvarSelectB" name="ncvarSelectB" onchange="ncvarChanged('B');">
										        </select>
										    </div>
									    </div>
										<div class="row">
										    <div class="control-label col-sm-3" style="font-weight:bold;">Time Positions</div>
										    <div class="controls col-sm-8">
										        <select class='form-control-sm' id="timeSelectB" name="timeSelectB" onchange="timeChanged('B');">
										        </select>
										    </div>
									    </div>
								    	<div class="row">
											<div class="control-label col-sm-3" style="font-weight:bold;">Opacity</div>
										    <div class="controls col-xs-6 col-sm-6">
										    	<div id="opacityslider-B"></div>
											</div>
										</div>
										<div class="row">
										    <div class="control-label col-sm-3" style="font-weight:bold;">Colormap</div>
										    <div class="controls col-sm-8">
												<select class='form-control-sm' id="cmapSelectB" name="cmapSelectB" onchange="cmapChanged('B');">
													{% for choice in cmap_choices -%} 	
											    	<option value="{{ choice }}" {% if choice == init_cmap %}SELECTED{% endif %}>{{ choice }}</option>
											    	{%- endfor %}
										        </select>
											</div>
									    </div>
										<div class="row">
										    <div class="control-label col-sm-3" style="font-weight:bold;">Colorbar</div>
										    <div class="controls col-sm-8">
												<img id="imgColorbarB" alt=" " src="" class="colorbar"/>
										    </div>
									    </div>
										<div class="row">
										    <div class="control-label col-sm-3" style="font-weight:bold;"></div>
										    <div class="controls col-sm-8">
										    	<input id="tbMin_mapB" type="text" class="tbColorbarRange form-control-sm" onchange="cmapScaleChanged('B')"></input>
												<button id="lockB" class="lockButton form-control-sm" onclick="scaleLock('B')" value="lock">lock</span></button>
												<input id="tbMax_mapB" type="text" class="tbColorbarRange form-control-sm" onchange="cmapScaleChanged('B')"></input>
										    </div>
									    </div>
									    <div class="row">
										</div>
							  			<div class="row">
							  			</div>
								    </div>
								</div>
							</div>
						</div>
						<div class="row">

						    <div class="controls col" style="float: left;">
						        <label class="checkbox-inline">
						            <input id="cb_getTS" type="checkbox" value="getTS" onclick="toggleGetTS()"></input>
						            <i class="glyphicon glyphicon-screenshot" style="font-size: 20px;"></i>
						            <div style="float:right">
								    	&nbsp; get time series on map click
								    </div>
						        </label>
						    </div>
						
						</div>

						<!--<div class="row">-->
							<!--<div class="controls col" style="float: left;">-->
						            <!--&lt;!&ndash;<i class="glyphicon glyphicon-th" style="font-size: 20px;"></i>&ndash;&gt;-->
						            <!--&lt;!&ndash;<div style="float:right">&ndash;&gt;-->
								    	<!--&lt;!&ndash;&nbsp; set time span&ndash;&gt;-->
								    <!--&lt;!&ndash;</div>&ndash;&gt;-->
								<!--<input name='date_toggled' type='text' value='' class='date date_toggled' style='display: inline' />-->
								<!--<img src='static/img/calendar.png' class='date_toggler' onclick="openCalendar()" style='position: relative; top: 3px; margin-left: 4px;' />-->
							<!--</div>-->
						<!--</div>-->

						<!--<div class="row">-->
							<!--<div class="controls col" style="float: left;">-->
								    <!--<div class="input-daterange input-group" id="datepicker">-->
										<!--<input data-provide="datepicker" type="text" class="input-sm form-control" name="start" />-->
        								<!--<span class="input-group-addon">to</span>-->
        								<!--<input data-provide="datepicker" type="text" class="input-sm form-control" name="end" />-->
    								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
						<div class="row">
							<div class="controls col" style="float: left;">
								<input id="daterange" type="text" name="daterange" mapId="A"/>
								<!--<div id="reportrange" class="pull-right" mapId="A" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">-->
									<!--<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;-->
									<!--<span></span> <b class="caret"></b>-->
								<!--</div>-->
							</div>
						</div>

					</div>	
					<a href="javascript:void(0);" onclick="toggleCtrl('A');"><div id="mapCtrl_btnclose" class="mapSettingsToggleCtrl" style="right: -26px;">
				    	<i class="glyphicon glyphicon-chevron-left"></i>
					</div></a>
				</div>
				<div id="showMapSettingsButton_mapA" class="showMapSettingsButton">
					<a href="javascript:void(0);" onclick="toggleCtrl('A');"><div id="mapCtrl_btnopen" class="mapSettingsToggleCtrl" style="left: 0px;">
				    	<i class="glyphicon glyphicon-chevron-right"></i>
					</div></a>
				</div>
				<div id="TimeSeriesContainerDiv_mapA" class="mapOverlayDiv timeSeriesContainer">
					<div class="TimeSeriesTopBar">
						<div class="TSclose_Button" id="TSClose_mapA"><a onclick="closeDygraph('A')" href="#">X</a></div>
					</div>
					<div style="width: 90%; height: 180px;" id="TimeSeriesDiv_mapA">
					</div>
					<div class="TS_overlay" id="TimeSeriesOverlay_mapA">
					</div>
				</div>
				</div>
			</div>
			<div >
				<div style="position:relative;">
				<div id="mapB" class="map"></div>
				<div id="mapLabelContainer_mapB" class="mapOverlayDiv mapLabel">
					<div id="mapLabel_mapB_mapB"></div>
					<div id="mapLabel_mapB_mapA"></div>
				</div>
				<div id="linkMapsCtrlGroup_mapB" class="mapOverlayDiv linkMapsCtrlGroup">
					<div class="row">
						<div class="controls col" style="float: left;">
							<label class="checkbox-inline">
								<input id="cb_linkABgeo" type="checkbox" onclick="toggleMapLink('A','B','geo')" value="linkABgeo"></input>
								<i class="glyphicon glyphicon-move" style="font-size: 20px;"></i>
							</label>
						</div>
						<div class="ctrlLabel col">&nbsp; link maps geographic</div>
					</div>
					<div class="row">
						<div class="controls col" style="float: left;">
							<label class="checkbox-inline">
								<input id="cb_linkABtemp" type="checkbox" onclick="toggleMapLink('A','B','temp')" value="linkABtemp"></input>
								<i class="glyphicon glyphicon-time" style="font-size: 20px;"></i>
							</label>
						</div>
						<div class="ctrlLabel col">&nbsp; link maps temporal</div>
					</div>
					<div class="row">
						<div class="controls col" style="float: left;">
							<label class="checkbox-inline">
							    <input id="cb_linkABmarker" type="checkbox" onclick="toggleMapLink('A','B','marker')" value="linkABmarker"></input>
							    <i class="glyphicon glyphicon-map-marker" style="font-size: 20px;"></i>
							</label>
						</div>
						<div class="ctrlLabel">&nbsp; link map marker</div>
				    </div>
				</div>
				<div id="TimeSeriesContainerDiv_mapB" class="mapOverlayDiv timeSeriesContainer">
					<div class="TimeSeriesTopBar">
						<div class="TSclose_Button" id="TSClose_mapB"><a onclick="closeDygraph('B')" href="#">X</a></div>
					</div>
					<div style="width: 90%; height: 180px;" id="TimeSeriesDiv_mapB">
					</div>
					<div class="TS_overlay" id="TimeSeriesOverlay_mapB">
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}