<!--<!DOCTYPE html>-->

<!--<html>-->
<!--<head>-->
<!--<title>Full screen control example</title>-->
<!--<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
<!--<link rel="stylesheet" href="http://openlayers.org/en/v3.8.2/css/ol.css" type="text/css">-->
<!--<script src="http://openlayers.org/en/v3.8.2/build/ol.js"></script>-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">-->
<!--<script src="{{ url_for('static', filename='js/dataviewer-user.js') }}"></script>-->




<!--</head>-->



{% from "_formhelper.html" import render_field %}
{% extends "base.html" %}
{% block title %}NetCDF - DataViewer - WMS{% endblock %}
{% block head %}
    {{ super() }}


	<script src="{{ url_for('static', filename='js/ol.js') }}"></script>
<!---->
	<script src="{{ url_for('static', filename='js/dygraph-combined.js') }}"></script>
	<script src="{{ url_for('static', filename='js/IPFMap.class.js') }}"></script>
	<script src="{{ url_for('static', filename='js/MapController.class.js') }}"></script>
	<script src="{{ url_for('static', filename='js/IPFDataViewer.class.js') }}"></script>
	<script src="{{ url_for('static', filename='js/IPFDyGraph.class.js') }}"></script>
	<script src="{{ url_for('static', filename='js/dataviewer-main.js') }}"></script>
	<script src="{{ url_for('static', filename='js/dataviewer-user.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.splitter-0.14.0.js') }}"></script>

	<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/daterangepicker.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/daterangepicker.css') }}" />

    <link href="{{ url_for('static', filename='css/jquery.splitter.css') }}" rel="stylesheet"/>
	<!--<link rel="stylesheet" href="{{ url_for('static', filename='OpenLayers/theme/default/style.css') }}" />-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ol.css') }}" />

    <script>
    $(function() {
        $( "#slider-vertical" ).slider({
            orientation: "vertical",
            range: "min",
            min: 0,
            max: 100,
            value: 60,
            slide: function( event, ui ) {
                $( "#amount" ).val( ui.value );
            }
        });
        $( "#amount" ).val( $( "#slider-vertical" ).slider( "value" ) );
    });

    </script>

{% endblock %}
{% set active_page = "wms" %}
{% set init_cmap = "rainbow" %}
{% set cmap_choices = ["rainbow","redblue","alg","greyscale","ncview","alg2","occam","sm","sst_36","ferret","occam_pastel-30"] %}
{% block content %}
    <div id="map-split">
            <div id="mapA" class="map"></div>
            <div id="mapB" class="map"></div>
    </div>
    <div id="controls-div">
        <div id="menu-left" class="ol-control left-container">
            <div id="map-settingsA" class="map-settings-containerA individual-container">
                <div class="row">
                    <div class="control-label" style="font-weight:bold;">WMS</div>
                </div>
                <div class="row">
                        <select class='map-dropdown dropdown-toggle' id="wmsSelectA" name="wmsSelectA"></select>
                </div>
                <div class="row">
                    <div class="control-label" style="font-weight:bold;">NetCDF Variables</div>
                </div>
                <div class="row">
                        <select class='map-dropdown dropdown-toggle' id="ncvarSelectA" name="ncvarSelectA"></select>
                </div>
                <div class="row">
                    <div class="control-label" style="font-weight:bold;">Time Positions</div>
                </div>
                <div class="row">
                        <select class='map-dropdown dropdown-toggle' id="timeSelectA" name="timeSelectA"></select>
                </div>
                <div class="row">
                    <div class="control-label" style="font-weight:bold;">Colorbar</div>
                </div>
                <div class="row">
                    <select class='map-dropdown dropdown-toggle' id="cmapSelectA" name="cmapSelectA">
                        {% for choice in cmap_choices -%}
                        <option value="{{ choice }}" {% if choice == init_cmap %}SELECTED{% endif %}>{{ choice }}</option>
                        {%- endfor %}
                    </select>
                </div>
            </div>
            <div id="menu-visA">
                <div id="globe-divA" class="individual-container align-left">
                    <button id="globe-buttonA" class="globe-button"><i class="fa fa-globe"></i> Map A</button>
                </div>
                <div id="colorbar-max-divA"class="individual-container align-left">
                    <input id="tbMax_mapA" type="text" class="tbColorbarRange form-control"/>
                </div>
                <div id="colorbar-divA" class="individual-container colorbar-container align-left">
                    <img id="imgColorbarA" alt="colorbar" src="" class="colorbar_v" />
                    <div id="opacitysliderA"></div>
                </div>
                <div id="colorbar-min-divA"class="individual-container align-left">
                    <input id="tbMin_mapA" type="text" class="tbColorbarRange form-control"/>
                </div>
                <div id="lock-divA" class="individual-container align-left">
                    <button id="lockA" class="lockButton" value="lock"><i class="fa fa-lock"></i></button>
                </div>
            </div>
        </div>

        <div id="menu-right" class="ol-control right-container">
            <div id="map-settingsB" class="map-settings-containerB individual-container">
                <div class="row">
                    <div class="control-label" style="font-weight:bold;">WMS</div>
                </div>
                <div class="row">
                        <select class='map-dropdown dropdown-toggle' id="wmsSelectB" name="wmsSelectB""></select>
                </div>
                <div class="row">
                    <div class="control-label" style="font-weight:bold;">NetCDF Variables</div>
                </div>
                <div class="row">
                        <select class='map-dropdown dropdown-toggle' id="ncvarSelectB" name="ncvarSelectB"></select>
                </div>
                <div class="row">
                    <div class="control-label" style="font-weight:bold;">Time Positions</div>
                </div>
                <div class="row">
                        <select class='map-dropdown dropdown-toggle' id="timeSelectB" name="timeSelectB"></select>
                </div>
                <div class="row">
                    <div class="control-label" style="font-weight:bold;">Colorbar</div>
                </div>
                <div class="row">
                    <select class='map-dropdown dropdown-toggle' id="cmapSelectB" name="cmapSelectB">
                        {% for choice in cmap_choices -%}
                        <option value="{{ choice }}" {% if choice == init_cmap %}SELECTED{% endif %}>{{ choice }}</option>
                        {%- endfor %}
                    </select>
                </div>
                <div class="row">
                    <div id="controlMapB" class="btn-group">
                        <button type="button" id="disableMapB" class="btn active"><i class="fa fa-hand-grab-o"></i></button>
                        <button type="button" id="overlayTopMapB" class="btn"><i class="fa fa-hand-o-up"></i></button>
                        <button type="button" id="overlayBottomMapB" class="btn"><i class="fa fa-hand-o-down"></i></button>
                        <button type="button" id="splitMapB" class="btn"><i class="fa fa-hand-spock-o"></i></button>
                    </div>
                </div>
            </div>

            <div id="menu-visB">
                <div id="globe-divB" class="individual-container align-right">
                    <button id="globe-buttonB" class="globe-button"><i class="fa fa-globe"></i> Map B</button>
                </div>
                <div id="colorbar-max-divB"class="individual-container align-right">
                    <input id="tbMax_mapB" type="text" class="tbColorbarRange form-control"/>
                </div>
                <div id="colorbar-divB" class="individual-container colorbar-container align-right">
                    <img id="imgColorbarB" alt="colorbar" src="" class="colorbar_v" />
                    <div id="opacitysliderB"></div>
                </div>
                <div id="colorbar-min-divB"class="individual-container align-right">
                    <input id="tbMin_mapB" type="text" class="tbColorbarRange form-control"/>
                </div>
                <div id="lock-divB" class="individual-container align-right">
                    <button id="lockB" class="lockButton" value="lock"><i class="fa fa-lock"></i></button>
                </div>
            </div>
        </div>

        <div style="width:90%; height:210px;" id="TimeSeriesContainerDiv_mapA" class="ol-control bottom-container">
			<div class="TimeSeriesTopBar">
                <input id="daterange" type="text" name="daterange" mapId="A" />
				<div class="TSclose_Button" id="TSClose_mapA"><a href="#">X</a></div>

			</div>
            <div style="width: 100%; height: 180px;" id="TimeSeriesDiv_mapA">
            </div>
            <div class="TS_overlay" id="TimeSeriesOverlay_mapA">
            </div>
        </div>
    </div>
    <div id="log"></div>

{% endblock %}
