.right_panel {
	min-height: 600px;
	height: 100% !important;
	width: 50%;
	float:right;
	right: 0px;
}

.left_panel {
	min-height: 600px;
	float: left;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
}

#menu-right{
    background-color: transparent;
}
#menu-left{
    background-color: transparent;
}

.active{
    color: #333;
}

.content_container{
    position:relative;
    height:100%;
}

.right-container{
    float: right;
    padding-right: 5px;
    top:130px;
    right:0px;
}
.left-container{
    float: left;
    padding-left: 5px;
    top:130px;
    left:0px;
}

.bottom-container{
    bottom:5px;
    margin-left: 5%;
}
.align-right{
    float: right;
    clear: right;
}

.align-left{
    float: left;
    clear: left;
}

#globe-buttonA{
    width: 60px;
    font-size: 1em;
    font-weight: 200;

}

#globe-buttonB{
    width: 60px;
    font-size: 1em;
    font-weight: 200;

}

.colorbar-container {
  height: 200px;
}

.tbColorbarRange {
	width:60px;
	height:22px;
	font-size: 10pt;
    padding: 2px;
}
#menu-visA{
    float: right;
}
#menu-visB{
    /* width: 100px;*/
    float: left;
}
#map-settingsA{
    overflow: hidden;
}
#map-settingsB{
    overflow: hidden;
}
.map-settings-containerA{
    display: none;
    top: 130px;
    z-index: 200;
    width: 200px;
    min-height: 300px;
    left: 0px;
    height: 328px;
    padding: 5px;
    float: left;

}
.map-settings-containerB{
    display: none;
    top: 130px;
    z-index: 200;
    width: 200px;
    min-height: 300px;
    right: 0px;
    height: 328px;
    padding: 5px;
    float: right;

}
.map:-moz-full-screen {
  height: 100%;
}
.map:-webkit-full-screen {
  height: 100%;
}
.map:-ms-fullscreen {
  height: 100%;
}
.map:fullscreen {
  height: 100%;
}
.ol-rotate {
  top: 3em;
}
.map {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}
.row {
    position: relative;
    margin-left: 0px;
    padding: 2px;
}
.map-dropdown{
    width: 180px;
    padding: 2px;
    margin-bottom: 10px;
}
.individual-container{
    background-color: rgba(255, 255, 255, 0.4);
    padding: 2px;
    border-radius: 4px;
    margin: 3px;
}

.individual-container:hover{
    background-color: rgba(255, 255, 255, 0.6);
}

.navbar {
    margin-bottom: 0;
}

#opacitysliderA {
    float:right;
    margin-left: 15px;
    margin-right: 5px;
    height: 195px;
}

#opacitysliderB {
    float:left;
    margin-right: 15px;
    margin-left: 5px;
    height: 195px;
}

.TSclose_Button {
	z-index: 21;
	position: absolute;
	width: 20px;
	text-align: center;
	left: calc(100% - 20px);
	top:0px;
}