/* OpenLayers Style Definitions */
.olControlLayerSwitcher .layersDiv {
	background-color: #01B6F0;
	background-image: -moz-linear-gradient(center top , #03B8F2, #09BDF8);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#03B8F2), to(#09BDF8));
	background-image: -webkit-linear-gradient(top, #03B8F2, #09BDF8);
	background-image: -o-linear-gradient(#03B8F2, #09BDF8); 
  	background-image: linear-gradient(#03B8F2, #09BDF8);
	-moz-border-radius: 4px;
	border-radius: 4px;
}

label.labelSpan.olButton {
	color: #FFF;
	float: none;
	position: relative;
	left: 5px;
}

input[type="checkbox"], input[type="radio"] {
	float: left;
}


.map {
  width: 100%; 
  min-height: 300px;
  height: 300px;
  position: absolute; 
  top: 0px; left: 0px;
}

.timeSeriesContainer {
	width: 95%; 
	height: 200px; 
	display: none; 
	background-color:#eee; 
	position: absolute; 
	bottom: 200px; 
	left: 10px;
}

.TS_overlay { 
	position: absolute; 
	top: 20px; 
	bottom: 0px; 
	background: #fff; 
	width: 100%; 
	height: auto; 
	opacity: .8; 
	filter: alpha(opacity=80); 
	-moz-opacity: .8;
	z-index: 100;
	display: block;
} 

.time-slider {
	position: relative;
	width:100%;
    padding-left:56px;
    padding-right:4px;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;     
    box-sizing: border-box; 
	float: right;
	z-index: 20;
	top: -15px;
}

.TSclose_Button {
	z-index: 21;
	position: relative;	
	width: 20px;
	text-align: center;
}