.container {
  margin: 0 auto;
  padding: 0;
  padding-left: 5px;
  width: 100%;
}

.splitcontainer {
	width: 100%;
	min-height: 300px;
}

.right_panel {
	min-height: 300px;
}

.left_panel {
	min-height: 300px;
}

.row {
	margin: 5px;
	min-height: 35px;
}

.colorbar {
	min-height:55px; 
	height:55px;
}

.tbColorbarRange {
	width:40px;
	height:40px;
	font-size: 10pt;
	display:none;
}

div.well.form-group {
	min-height: 225px;
}

div.well {
	margin: 0px;
	margin-bottom: 5px;
}

.nav-tabs {
	margin-left: 5px;
	margin-bottom: 0px;
}

/* Custom Bootstrap Style */
.navbar-inner {
	background-color: #09BDF8;
	background-image: -moz-linear-gradient(center top , #03B8F2, #09BDF8);
	background-image: -webkit-linear-gradient(top, #03B8F2, #09BDF8);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#03B8F2), to(#09BDF8));
	background-image: -o-linear-gradient(#03B8F2, #09BDF8); 
  	background-image: linear-gradient(#03B8F2, #09BDF8);
}

.btn-navbar {
	background-color: #01B6F0;
	background-image: -moz-linear-gradient(center top , #03B8F2, #09BDF8);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#03B8F2), to(#09BDF8));
	background-image: -webkit-linear-gradient(top, #03B8F2, #09BDF8);
	background-image: -o-linear-gradient(#03B8F2, #09BDF8); 
  	background-image: linear-gradient(#03B8F2, #09BDF8);
}

.navbar .nav > li > a {
	border-left: 1px solid #09BDF8;
	border-right: 1px solid #01B2EA;
}

a:hover {
    color: #01B3F8;
    text-decoration: underline;
}

.btn-navbar:hover, .btn-navbar:active, .btn-navbar.active, .btn-navbar.disabled, .btn-navbar[disabled] {
    background-color: #01B3F8;
}

a {
    color: #09BDF8;
    text-decoration: none;
}

.navbar .nav > li > a:hover {
    background-color: #00B0E5;
}